{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8 pt-5">

        {% include "_flashmessages.html" %}
       
        <div class=row>
            <div class="col-md-4 pt-5">
                <h4>Pomodoro App</h4>
                <p> Simple Pomodoro application </p>
            </div>
            <div class="col-8 pt-5">
                <h2 class="text-right">
                    <span id="timer-mins"></span>
                    <span id="timer-secs"></span>
                </h2>
            </div>
        </div>
        
        {% from "_formhelpers.html" import render_field %}


        <form method="POST" action="{{ url_for('.start')}}" role="form">

            {{ form.hidden_tag() }}

            {{ render_field(form.task, class='form-control') }}

            <button type="submit" class="btn-primary">Start Task</button>
            <button type="button" class="btn-primary">Stop Task</button>
            <button type="button" class="btn-primary">Reset Task</button>

        </form>

        {% if task: %}
        <ul class=pt-5>
            <li>{{ task }}</ul>
        </ul>
        {% endif %}

    </div>

    <script>
        var endDate = new Date().getTime();

        var timer = setInterval(function() {

            let now = new Date().getTime()
            let t = endDate - now

            if (t >= 0) {
                let days = Math.floor(t / (1000 * 60 * 60 * 24));
                let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                let secs = Math.floor((t % (1000 * 60)) / 1000);

                document.getElementById("timer-mins").innerHTML = ("0"+mins).slice(-2);
                document.getElementById("timer-secs").innerHTML = ("0"+secs).slice(-2);

            }

        }, 1000):


    </script>

</div>

{% endblock content %}
