body {
	background-color: #fff;
	width: 800px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
form {
	margin: 20px 0;
}
div {
  padding: 10px 0;
}
input, select, textarea {
  width: 300px;
}
textarea {
	height: 150px;
}
button {
  clear: both; 
  margin-top: 20px;
}
select#image_url1 option[value="article"] { 
  background-image:url("../assets/pybites/article.png"); 
}
select#image_url1 option[value="challenge"]   { 
  background-image:url("../assets/pybites/challenge.png");   
}
select#image_url1 option[value="news"] { 
  background-image:url("../assets/pybites/news.png"); 
}
select#image_url1 option[value="special"] { 
  background-image:url("../assets/pybites/special.png"); 
}
