astmonkey==0.3.6
atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
coverage==5.3
flake8==3.8.3
glob2==0.7
idna==2.10
iniconfig==1.0.1
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
MutPy==0.6.1
oauthlib==3.1.0
packaging==20.4
parse==1.18.0
parse-type==0.5.2
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pydot==1.4.1
pyflakes==2.2.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.0.2
pytest-bdd==4.0.1
pytest-cov==2.10.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
termcolor==1.1.0
toml==0.10.1
tweepy==3.9.0
urllib3==1.25.10
