<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>PCC28</title>
      </head>
  <body>
    <p><strong>"Hello, World!"</strong><br />
       Just a little something I whipped up for <a href={{"https://codechalleng.es/challenges/28/"}}>Pybites Blog Challenge #28</a> on 16/05/2020<br /></p>

    <a href="{{ url_for('wyndham') }}">Check out this Bokeh plot for the Wyndham Wind Farm Scheme!</a><br />
    (Note this takes several seconds to load)</p>
  </body>
</html>