<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- load MUI -->
      <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
      <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>
      <title>{{ title }}</title>
    </head>
    <body>
        <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-2"></div>
            <div class="mui-col-md-8"> 
                <button class="mui-btn mui-btn--raised"><a href="/index">Home</a></button>
        <hr>
        {% block content %}{% endblock %}
            </div>
            <div class="mui-col-md-2"></div>
        </div>
        </div>
    </body>
</html>
