{% extends 'base.html' %}
{% load humanize %}
{% load tz %}

{% block content %}

    <h1 class="mui--text-display1">
        {% block title %}
            {{ details.away_team }} at {{ details.home_team }}
        {% endblock %}
    </h1>

    <div class="mui-panel">
    <div class="mui-container">
    <h2>{{ details.game_datetime | timezone:"America/Los_Angeles"}}</h2>
    </div>
    <table class="mui-table">

    {% if details.away_hits is None %}

        <tr>
        <th>Team</th>
        <th class="mui--text-center">Final Score</th>
        </tr>
        <tr>
            <td>{{ details.away_team }}</td>
            <td class="mui--text-center">{{ details.away_runs }}</td>
        </tr>
        <tr>
            <td>{{ details.home_team }}</td>
            <td class="mui--text-center">{{ details.home_runs }}</td>
        </tr>
    </table>
    </div>
    {% else %}

          <tr>
              <th>Team</th>
              <th class="mui--text-center">Runs</th>
              <th class="mui--text-center">Hits</th>
              <th class="mui--text-center">Errors</th>
          </tr>
          <tr>
              <td>{{ details.away_team }}</td>
              <td class="mui--text-center">{{ details.away_runs }}</td>
              <td class="mui--text-center">{{ details.away_hits }}</td>
              <td class="mui--text-center">{{ details.away_errors }}</td>
          </tr>
          <tr>
              <td>{{ details.home_team }}</td>
              <td class="mui--text-center">{{ details.home_runs }}</td>
              <td class="mui--text-center">{{ details.home_hits }}</td>
              <td class="mui--text-center">{{ details.home_errors }}</td>
          </tr>
      </table>
      {% if details.game_headline %}
          <div class="mui-divider"></div>
          <div class="mui--container">
            <h3>  {{ details.game_headline }} </h3>

        <p>{{ details.game_body | safe }}</p>
          </div>
        {% endif %}
    </div>
  </div>
        {% endif %}


  <div class="mui-container">
    {% if request.user.is_authenticated %}
        <a class="mui-btn mui-btn--raised" href="{% url "stadium_tracker:my_game_list" %}">Go Back</a>
        {% if request.user == details.user %}
        <a class="mui-btn mui-btn--danger" href="{% url "stadium_tracker:gamesseen_delete" details.id %}">Delete</a>
        {% else %}
        <a class="mui-btn mui-btn--primary" href="{% url "stadium_tracker:gamedetails_create"%}">Add</a>
        {% endif %}
    {% else %}
    <a class="mui-btn mui-btn--raised" href="{% url "stadium_tracker:game_list" %}">Go Back</a>
    {% endif %}
  </div>

{% endblock %}