{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="text-center">
            <form class="form-signin" method="post">
                <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                <input type="username" id="inputusername" class="form-control" placeholder="username" name="username">
                <button class="btn btn-lg btn-primary btn-block" type="submit" value=Login>Login</button>
                <p class="mt-5 mb-3 text-muted">All right reserved to GealberElGrande</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}