beautifulsoup4==4.6.0
bkcharts==0.2
bokeh==0.12.6
click==6.7
Flask==0.12.2
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==0.23
numpy==1.13.1
pandas==0.20.2
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.14.2
six==1.10.0
tornado==4.5.1
Werkzeug==0.12.2
