{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 

  <div class="mui--text-danger">
    {% for error in form.non_field_errors %}
      {{error}}
    {% endfor %}
  </div>

  <!-- cannot find where used? reset goes to email -->
  <div class="mui-textfield">
    {{ form.new_password1.label }}
    {{ form.new_password1 }}
  </div>
  <div class="mui-textfield">
    {{ form.new_password2.label }}
    {{ form.new_password2 }}
  </div>

  <input class="mui-btn mui-btn--primary" type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
