{% extends 'base.html' %}
{% load tz %}

{% block content %}
<div class="mui-panel">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-8">
            <h1>
            {% block title %}
                Account Settings for {{user | title}}
            {% endblock %}
            </h1>
            </div>
        </div>
    </div>
    <div>
    <ul>
        <form method="post">
            {% csrf_token %}
            <table>
            {% for fields in form %}
                <tr>
                    <td>{{ fields.label }}</td><td>{{ fields }}</td>
                </tr>
            {% endfor %}
            </table>
            <input class="mui-btn mui-btn--primary" type="submit" value="Update">
        </form>
    </ul>
    </div>

</div>
{% endblock %}