.main {
	text-align: center;
}

.centered {
	text-align: center;
}

.spaced {
	margin-bottom: 5px;
	margin-top: 5px;
}

.align-right {
	float: right;
}

.text-left {
	text-align: left;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding: 15px;
}